<div class="card">
  <p>
    <strong>Por: <%= comment.user.email %></strong>
  </p>

  <p id="comment-body">
    <%= comment.body %>
  </p>

  <br>

  <% if current_user === comment.user %>
    <%= link_to "Borrar", [comment.article, comment], class: "botonazo", method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>