<div class="card">
  <p>
    <strong><%= comment.commenter %></strong>
  </p>

  <p id="comment-body">
    <%= comment.body %>
  </p>

  <br>
  <%= link_to "Borrar", [comment.article, comment], class: "botonazo", method: :delete, data: { confirm: 'Are you sure?' } %>
</div>