<div id="portada">
  <div>
    <h1>Topicos Selectos de Ciencias de la Ingeniería</h1>
    <h2>Equipo 4 - Grupo 2</h2>
    <h3>José Luis Eguía Téllez- 1791916</h3>
    <h3>Francisco Javier Mendoza Santoyo - 1838146</h3>
    <h3>David Kaleb Reséndez Carvajal - 1829118</h3>
    <h3>Rafael García Ortega - 1838179</h3>
    <h3>Esly Issaí Moreno Calderón - 1791946</h3>
    <h3>Gerardo Cárdenas Cruz - 1835115</h3>
  </div>
  <div>
  <% if user_signed_in? %>
    <%= link_to "My Blog", { controller: "articles" }, class: "botonazo" %>
  <% end %>
  </div>
</div>