nav {
  padding: 0 50px;
  background: tomato;
  color: #fff;
  
  & > div {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
  }
}

#main-container {
  padding: 10px 20px;
}